body {
	background-image: url(../images/lotr.png);
	min-height: 680px;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: lotrFont;
    color: white;
}

@font-face {
    font-family: lotrFont;
    src: url(../fonts/lotr.ttf);
}